@import "tailwindcss";
@source not "../../public";

ul li{
    color: red;
    font-size: 14px;
    padding-bottom: 6px;
}

.fc-toolbar button {
  border-radius: 10px !important;
  padding: 6px 14px  !important;
  border: none  !important;
  background: transparent  !important;
  color: #333  !important;
  font-weight: 500  !important;
}

tbody tr{
    width: 50px;
    height: 65px;
}

.fc-toolbar button.fc-button-active {
  background: #2C416E !important;
  color: white  !important;
}

.fc-timegrid-slot {
  border-color: #f1f3f5  !important;
}

.fc-timegrid-axis {
  color: #6b7280  !important; 
  font-size: 12px  !important;
}


.fc-col-header-cell {
  padding: 10px 0  !important;
  font-weight: 600  !important; 
  color: #2C416E  !important;
}


.fc-timegrid-col {
  background-color: #fafafa !important;
  border-left: 1px solid #e5e7eb !important; 
}

.fc-timegrid-col:first-child {
  border-left: none !important;
}

.fc-timegrid-slot{
  border-top: 1px solid #f1f3f5 !important;
}


.fc-theme-standard td,
.fc-theme-standard th {
  border-right: none !important;
}

