{% extends 'base.html.twig' %}

{% block title %}Corps enseignant
{% endblock %}

{% block breadcrumb %}
	<twig:BreadcrumbItem label="Corps enseignant" href="{{ path('app_module') }}"/>
	<twig:BreadcrumbItem label="nom du module.name"/>
{% endblock %}

{% block body %}

	<h1>Modification des modules</h1>

{% endblock %}
