{% extends 'base.html.twig' %}

{% block title %}Modifier un enseignant
{% endblock %}

{% block breadcrumb %}
	<twig:BreadcrumbItem label="Corps enseignant" href="{{ path('app_instructor') }}"/>
	<twig:BreadcrumbItem label=""/>
{% endblock %}

{% block body %}

	<h1>Modules</h1>
	{% for teachingBlock in teachingBlocks %}

		<div>B{{ loop.index }}
			{{ teachingBlock.name }}</div>

	{% endfor %}


{% endblock %}
