{% extends 'base.html.twig' %}

{% block title %}Calendrier
{% endblock %}


{% block body %}
    <div class="flex-1 p-8 bg-white">
        <div class="flex justify-between items-center mb-8">
            <h1 class="text-3xl font-medium text-[#2C416E]">Calendrier</h1>
        </div>

        <div id="calendar"></div>
    </div>
  
{% endblock body %}