<aside
	class="w-72 h-screen bg-slate-50 border-r border-slate-200 flex flex-col">
	{# Header #}
	<div class="px-6 py-5">
		<div class="flex items-center gap-3">
			<img src="{{ asset('icones/logoprojet.png') }}">
			<div>
				<p class="text-sm font-semibold text-slate-900">Lycée Saint-Vincent</p>
				<p class="text-xs text-slate-500">Enseignement Supérieur</p>
			</div>
		</div>
	</div>
</aside>
